# Config files with private credentials or locally-specific values:
config/mysql.json
config/drupal.json
config/local-paths.json
config/download/pubmed.json
config/download/worldcat.json

# Exclude downloaded data files:
downloads/**/*.gz
downloads/**/*.xml

# Exclude log files:
log/*.log

composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock
